{% include "partials/header.html" %}



{% include "partials/sidenav.html"%}

<div class="main"> 
{% include "partials/nav.html" %}


<br>
<hr>

<center>
    <h1>Cursos</h1>
</center>
<br>


<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Image</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Operacion</th>
        <th>
          <a >
            <button type="button"  data-toggle="modal" id="addButton" onclick="console.log('clickTest6')"
            data-target="#closeForm" class="btn btn-success" style="margin-left: 1px">Agregar</button>
        </a>
        </th>

      </tr>
    </thead>
    <tbody>
      {%for c in course %}
      <tr>
        <td>{{ c.id}}</td>
        <td>{{ c.category}}</td>
        <!-- {{c}} -->
        <td>
          <img style="object-fit: scale-down;" src="{{ c.image}}" width="90" height="90">

        </td>

        
        <td>{{ c.title}}</td>
        <td>{{ c.description}}</td>
        <td>
          <a   onclick="edit({{ c.id }})">   
           <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#editForm">Editar</button>
          </a>
          <a onclick="deleteE({{ c.id }})">
           <button  type="button" class="btn btn-danger">Borrar</button>
         </a>
         </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="closeForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Agregar Curso</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background-color: #198754;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
    
          <form method="POST" enctype=multipart/form-data class="" action="/catalogoCursos">
    
            <div class="form-group">
              <label for="" class="form-label">Categoria</label>
                <select name="category" id="category" class="form-select"></select>
            </div>
            <br>

            <div class="form-group">
              <label for="" class="form-label">Portada</label>
              <input class="form-control" type="file" name="file">
            </div>

            <br>
            <div class="form-group">
                <label for="" class="form-label">Titulo del curso</label>
                <input name="title" type="text" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="" class="form-label">Descripcion</label>
    
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            </div>
            <br>
           <button class="btn btn-success" type="submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Editar Curso</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background-color: #0d6efd;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
    
          <form method="POST" enctype=multipart/form-data class="" action="/updateCourse">
    
            <input type="number" id="uid" name="uid" hidden>

            <div class="form-group">
              <label for="" class="form-label">Categoria</label>
                <select name="ucategory" id="ucategory" class="form-select"></select>
            </div>
            <br>

            <div class="form-group">
              <label for="" class="form-label">Portada</label>
              <br>
              <center>
                <img style="object-fit: scale-down;" id="editCover" src="" width="150" height="150">
              </center>
              <input class="form-control" type="file" name="file">
            </div>

            <br>
            <div class="form-group">
                <label for="" class="form-label">Titulo del curso</label>
                <input id="utitle" name="utitle" type="text" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="" class="form-label">Descripcion</label>
    
                <textarea class="form-control" name="udescription" id="udescription" rows="3"></textarea>
            </div>
            <br>
           <button class="btn btn-primary" type="submit">Editar</button>

          </form>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/category_course_calls.js') }}"></script>

{% include "partials/footer.html" %}