
{%  include "partials/header.html"%}


{% include "partials/sidenav.html"%}

<div class="main"> 
{% include "partials/nav.html" %}

<br>
<hr>

<br>
<hr>

<center>
    <h1>Leccion</h1>
</center>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Categoria</th>
      <th>Curso</th>
      <th>Descripcion</th>
      <th>Modulo</th>
      <th>Titulo</th>
      <th>Video</th>
      <th>Lectura archivo</th>

      <th>Operacion</th>
      <th>
        <a >
          <button type="button"  data-toggle="modal" id="addButton" onclick="console.log('clickTest6')"
          data-target="#closeForm" class="btn btn-success" style="margin-left: 1px">Agregar</button>
      </a>
      </th>

    </tr>
  </thead>
  <tbody>
    {%for m in lesson %}
    <tr>
      <td>{{ m.id}}</td>
      <td>{{ m.category}}</td>
      <td>{{ m.course}}</td>
      <td>{{ m.description}}</td>
      <td>{{ m.module}}</td>
      <td>{{ m.title}}</td>
      <td>
        <!-- {{ m.filepath}}
        <button id="btn-video"  data-video-id="{{ m.filepath }}" class="btn btn-info" data-toggle="modal" data-target="#readingPreview" onclick="set_video('{{ m.filepath }}')">Video</button> -->
          <div id="player{{ m.id}}" class="video" data-video="{{ m.filepath }}"></div>
      </td>
      <td> <a href="{{upload_folder}}/docs/{{ m.reading_path}}"> {{ m.reading_path}}</a>
        <button class="btn btn-info" data-toggle="modal" data-target="#readingPreview" onclick="set_lecture('{{upload_folder}}docs/{{ m.reading_path}}')">Prevista</button>

      </td>
      <td>
        <a   onclick="edit({{m.id}})">  
         <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#editForm">Editar</button>
        </a>
        <a onclick="deleteE({{m.id}})">
         <button  type="button" class="btn btn-danger">Borrar</button>
       </a>
       </td>
    </tr>
    {%endfor%}
  </tbody>
</table>





</div>



<div
  class="modal fade"
  id="readingPreview"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Lectura</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card" style="width: 32rem;">
      
      </div>
      <div class="card-body">
        <embed id="lecture_frame"   type="application/pdf"  width="450px" height="600px" hidden>
        
          <!-- <object data="myfile.pdf" type="application/pdf" width="100%" height="100%">
            <p>Alternative text - include a link <a   id="lecture_frame"  >to the PDF!</a></p>
          </object> -->
          <div id="player" hidden></div>

      </div>
    </div>
  </div>

</div>




<!-- Modal -->
<div
  class="modal fade"
  id="closeForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Agregar Leccion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background-color: #198754;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
              <form method="POST" class="" action="/lesson" enctype="multipart/form-data">
        
                <div class="form-group">
                  <label for="" class="form-label">Categoria</label>
                    <select name="category" id="category" class="form-select" onchange="triggerNext('category', 'course')">
                      <option >--Seleccion una opcion</option>
                    </select>
                </div>
        
                <div class="form-group">
                  <label for="" class="form-label">Curso</label>
                    <select name="course" id="course" class="form-select" onchange="triggerNextNext('course', 'module')" required></select>
                </div>
        
                <br>
                <div class="form-group">
                    <label for="" class="form-label">Modulo</label>
                    <select name="module" id="module" class="form-select" required></select>
        
                </div>
                <br>
                <div class="form-group">
                  <label for="" class="form-label">Titulo de la leccion</label>
                  <input name="title" type="text" class="form-control" required>
                </div>

                <br>

                <div class="form-group">
                <label for="" class="form-label">Video Key</label>

                <textarea class="form-control" name="video" id="video" rows="3"></textarea>
                </div>


              <div class="form-group">
                <label for="" class="form-label">Lectura</label>
                <input class="form-control" type="file" name="file">
              </div>

               <button class="btn btn-success" type="submit">Agregar</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">


    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    // playerVars = {cc_load_policy:1,autoplay:0,controls:1,enablejsapi:1,iv_load_policy:3,modestbranding:1,showinfo:0,rel:0,autohide:0,fs:1,disablekb:0,playsinline:1}



    var video_player_array = document.getElementsByClassName("video")

    var playerInfoList = []

    for (let i = 0; i < video_player_array.length; i++) {
      const element = video_player_array[i];
      
      let obj = {id: element.id, videoId: element.dataset.video};

      console.log(obj);

      playerInfoList.push(obj);
    }

    
    function onYouTubeIframeAPIReady() {

      if(typeof playerInfoList === 'undefined')
           return; 

        for(var i = 0; i < playerInfoList.length;i++) {
          var curplayer = createPlayer(playerInfoList[i]);
        }   
      }
      function createPlayer(playerInfo) {
          return new YT.Player(playerInfo.id, {
              height: '200',
              width: '300',
              videoId: playerInfo.videoId,
              playerVars: {
                'cc_load_policy':1,
                'autoplay':1,
                'controls':1,
                'enablejsapi':1,
                'iv_load_policy':3,
                'modestbranding':1,
                'showinfo':0,
                'rel':0,
                'autohide':0,
                'fs':1,
                'disablekb':0,
                'playsinline':1,
              },
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
              });
          }


    
    // cc_load_policy:1,autoplay:0,controls:1,enablejsapi:1,iv_load_policy:3,modestbranding:1,showinfo:0,rel:0,autohide:0,fs:1,disablekb:0,playsinline:1

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo, 6000);
        done = true;
      }
    }

    function stopVideo() {
      player.stopVideo();
    }



function set_lecture(path){
  //// upload_folder /docs/  m.reading_path #toolbar=0
  
  document.getElementById('lecture_frame').src = path
  document.getElementById('lecture_frame').hidden = false;
  document.getElementById('player').hidden = true;


  console.log(path);

}
function set_video(video_id){

  document.getElementById('lecture_frame').hidden = true;
  document.getElementById('player').hidden = false;

  console.log(video_id);

  player.videoId = video_id;

}



function initCategoryCollection(selectId){
  let url = "http://localhost:3001/category_course"

// Replace ./data.json with your JSON feed
fetch(url)
  .then((response) => {
    return response.json()
  })
  .then((data) => {
    // Work with JSON data here

    let obj = JSON.parse(data);


    let  select = document.getElementById(selectId);
    select.options.length = 0;

    obj.forEach(element => {
      select.options[select.options.length] = new Option(element.name, element.id);
    });

  })
  .catch((err) => {
    // Do something for an error here
    console.log(err);
  })

}


function triggerNext(selectIdA, selectIdB){

      let option  = document.getElementById(selectIdA).value;
      let url = "http://localhost:3001/getCourseBy?"+"categoryId="+option;
  
      fetch(url)
      .then((response) => {
        return response.json()
      })
      .then((data) => {
        // Work with JSON data here

        let obj = JSON.parse(data);

        let  select = document.getElementById(selectIdB);
        select.options.length = 0;

        obj.forEach(element => {
          select.options[select.options.length] = new Option(element.title, element.id);
   
        });

      })
      .catch((err) => {
        // Do something for an error here
        console.log(err);
      })

}

function triggerNextNext(selectIdA, selectIdB){

  let option  = document.getElementById(selectIdA).value;
  let url = "http://localhost:3001/getModuleBy?"+"id="+option;

    fetch(url)
    .then((response) => {
      return response.json()
    })
    .then((data) => {
      // Work with JSON data here

      let obj = JSON.parse(data);

      let  select = document.getElementById(selectIdB);
      select.options.length = 0;

      obj.forEach(element => {
        select.options[select.options.length] = new Option(element.title, element.id);

      });

    })
    .catch((err) => {
      // Do something for an error here
      console.log(err);
    })

}


function edit(id){
      console.log("id: "+id);

      initCategoryCollection("ucategory");


      $.getJSON("/getModuleE?id="+id, data =>{
        let obj = JSON.parse(data);
        console.log(obj[0]);

        $("input[name='utitle']").val(obj[0].title);
        $("input[name='uprice']").val(obj[0].price);

        $("input[name='uid']").val(obj[0].id);
        
      });
    }


initCategoryCollection('category');
initCategoryCollection('ucategory');


function deleteE(id){
      console.log(id);

      $.getJSON("/deleteLesson?id="+id, data=>{
        window.location.reload(true);
      });


    }





</script>




{%  include "partials/footer.html"%}
