
{%  include "partials/header.html"%}



{% include "partials/sidenav.html"%}

<div class="main"> 
{% include "partials/nav.html" %}

<br>

<br>
<hr>
<center>
    <h1>Modulos</h1>
</center>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Categoria</th>
      <th>Curso</th>
      <th>Descripcion</th>
      <th>Titulo</th>
      <th>Price</th>
      <th>Operacion</th>
      <th>
        <a >
          <button type="button"  data-toggle="modal" id="addButton" onclick="console.log('clickTest6')"
          data-target="#closeForm" class="btn btn-success" style="margin-left: 1px">Agregar</button>
      </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {%for m in modules %}
    <tr>
      <td>{{ m.id}}</td>
      <td>{{ m.category}}</td>
      <td>{{ m.course}}</td>
      <td>{{ m.description}}</td>
      <td>{{ m.title}}</td>
      <td>{{ m.price}}</td>

      <td>
        <a   onclick="edit({{m.id}})">  
         <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#editForm">Editar</button>
        </a>
        <a onclick="deleteE({{m.id}})">
         <button  type="button" class="btn btn-danger">Borrar</button>
       </a>
       </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="closeForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Agregar Modulo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background-color: #198754;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
            
      <form method="POST" class="" action="/modules">

        <div class="form-group">
          <label for="" class="form-label">Categoria</label>
            <select name="category" id="category" class="form-select" onchange="triggerCourse('category', 'course')">
              <option >--Seleccion una opcion</option>
            </select>
        </div>

        <div class="form-group">
          <label for="" class="form-label">Curso</label>
            <select name="course" id="course" class="form-select" required></select>
        </div>

        <br>
        <div class="form-group">
            <label for="" class="form-label">Titulo del Modulo</label>
            <input name="title" type="text" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="" class="form-label">Precio</label>

            <div  class="input-group"> 
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" id="price" name="price" class="form-control" step="0.1" required>

            </div>

        </div>
<br>
       <button class="btn btn-success" type="submit">Agregar</button>
      </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="editForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="closeFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeFormLabel">Editar Modulo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background-color: #0d6efd;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
    
          <form method="POST" class="" action="/updateModules">

            <input type="number" id="uid" name="uid" hidden>


            <div class="form-group">
              <label for="" class="form-label">Categoria</label>
                <select name="ucategory" id="ucategory" class="form-select" onchange="triggerCourse('ucategory', 'ucourse')">
                  <option >--Seleccion una opcion</option>
                </select>
            </div>
    
            <div class="form-group">
              <label for="" class="form-label">Curso</label>
                <select name="ucourse" id="ucourse" class="form-select" required></select>
            </div>
    
            <br>
            <div class="form-group">
                <label for="" class="form-label">Titulo del Modulo</label>
                <input name="utitle"  type="text" class="form-control" required>
            </div>
    
            <div class="form-group">
                <label for="" class="form-label">Precio</label>
    
                <div  class="input-group"> 
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" id="uprice" name="uprice" class="form-control" step="0.1" required>
    
                </div>
    
            </div>
    <br>
           <button class="btn btn-primary" type="submit">Editar</button>
          </form>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scriptImporter.js') }}" ></script>
<script src="{{ url_for('static', filename='js/modules_calls.js') }}"></script>


{%  include "partials/footer.html"%}
