
<div id="mySidenav" class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->


    <img style="object-fit: scale-down;" src="/public/images/holder.jpg" width="200" height="100">
    <br>
  <br>
    <a href="#Servicios">Servicios</a>
    <a href="#Cursos">Cursos</a>
    <a href="#Contacto">Contacto</a>
    <a href="#Cliente">Clientes</a>
    <button class="dropdown-btn">Biblioteca 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Rama</a>
      <a href="/catalogoCursos">Curso</a>
      <a href="/modules">Modulo</a>
      <a href="/lesson">Leccion</a>
    </div>
</div>